@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    font-family:  'Sawarabi Mincho', 'MS 明朝', serif;
    background-color:#dfddf9;
}
header {
    width: 80%;
    margin: 30px auto 0;
}
header h1 {
    margin: 0 0 5px 0;
    font-size: 3.5em;
    color: #0c0c0c;
    text-align: left;
    padding-top: 60px;
    border-bottom:#3b150a solid 1px;
    padding-bottom: 20px;
}
.header_wrap::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;  
    background: url("背景3.jpg") no-repeat center/cover;
    z-index: -1;
}
header p {
    margin: 5px 0 20px 0;
    font-size: 1.2em;
    color: black;
    text-align: left;
}
header>a{
    margin-top: 40px;
    margin-left:10px ;
    text-decoration: solid underline;
    color: black;
    background-color: #cbe4f4;
    border-radius: 10px;
    padding: 10px 20px;
    left:10px;
    font-size: 1.2em;
    top: 10px;
}
header>a:hover{
    color: #cbe4f4;
    background-color: #3b150a;
}
.innerWrap {
    width: 80%;
    margin: 0 auto;
}
table{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #3b150a;
}
table>h2 {
    font-size: 2em;
    border-bottom: 2px solid #3b150a;
    padding-bottom: 10px;
}
table tr{
  display: block;
  padding-top :10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #1f1e1e;
}
table tr th{
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.to_TOP{
    display:  none;
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 204, 204, 0.7);
    text-align: center;
    border-radius:50% ;
    z-index: 100;
    text-decoration: underline none;
    position:fixed; 
    border: #0c0c0c solid 0.1em;
}
.to_TOP p {
    width: 70px;
    height: auto;
    text-align: center;
    font-size: 10px;
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 166, 0)); /* 赤→黄 */
    -webkit-background-clip: text;   /* テキストに背景をクリップ */
    background-clip: text;
    color: transparent;
    margin : 0;
    transform: translate(0%, 130%);
}
body>a :hover {
    background-color:rgb(248, 239, 226) ;
}

/* ここからスマホ用のスタイル */
@media screen and (max-width: 768px) {
  header {
    width: 95%;
    margin-top: 10px;
  }
  
  header h1 {
    font-size: 2em; /* 見出しを小さく */
    padding-top: 30px;
  }
  header p {
    font-size: 1em;
  }
  header a {
    font-size: 1em;
  }

  .innerWrap,
  table {
    width: 95%; /* 横幅いっぱいに */
  }

  table {
    padding: 10px;
    font-size: 0.9em; /* 文字少し小さめ */
  }

  table th {
    display: block;           /* 日付と本文を縦積みに */
    border-bottom: none;
    padding: 5px 0;
  }
  table tr {
    display: block;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
  }
  main{
    margin-bottom: 20px;
  }
}